@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .backdrop-blur-lg {
    backdrop-filter: blur(16px);
  }
  .glass-card {
     @apply bg-slate-400/5 backdrop-blur-lg border border-slate-400/10 rounded-xl shadow-lg;
  }
}
